.Subject {
  box-shadow: 5px 5px 10px rgba(52, 80, 142, 0.2);
  transition: font-size 0.3s ease; /* Transition for hover out */
  /* boxShadow= 5px 5px 10px rgba(52,80,142, 0.3)", */
}
.Subject:hover {
  box-shadow: 5px 5px 10px rgba(169, 209, 250, 0.3);
  transition: font-size 0.3s ease; /* Transition for hover out */
}
.underline {
  position: relative;
  border-radius: 10px;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.underline:hover::after,
.parent:hover .underline::after {
  border-radius: 10px;
  width: 100%;
}

.arrow {
  transition: transform 0.3s ease;
  transform: rotate(90deg); /* Initial rotation */
}

.parent:hover .arrow {
  transform: rotate(0deg); /* Rotate back to 0 degrees on parent hover */
}
.papaDiv {
  box-shadow: 5px 5px 10px rgba(52, 80, 142, 0.3);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #ffffff;
}
